@model EmployeeRepository


@{
    ViewData["Title"] = "Pay Slip";
}


<h4>Pay Slip of @Model.FirstName</h4> 




<div class="row-fluid">

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Pay Period</th>
                <th>Gross Income</th>
                <th>Income Tax</th>
                <th>Net Income</th>
                <th>Super</th>
            </tr>
        </thead>

        <tbody>
            <tr>

                <td>@Model.Name</td>
                <td>@Model.PayPeriod</td>
                <td>$@Model.GrossIncome</td>
                <td>$@Model.IncomeTax</td>
                <td>$@Model.NetIncome</td>
                <td>$@Model.Super</td>
            </tr>
        </tbody>




    </table>


</div>