@{
    ViewData["Title"] = "Home";
}


<div class="content">
    <div class="row-fluid">

        <h2>Welcome,</h2>

    </div>

    <div class="row-fluid">
        <div class="content">
            <ul>
                <li>You can View/Download your monthly <a asp-area="" asp-controller="PaySlips" asp-action="Home">Pay Slips</a>.</li>
                <li>
                    You can manage your Timesheets. 
                   @* <a href="#">Timesheets</a>.*@
                </li>
                <li> You can manage your Leaves.
                @*<a href="#">Leaves</a>.*@
                </li>
            </ul>


        </div>

    </div>
</div>



